cluster:
  address: "{{{cluster.address}}}"
  port: "{{{cluster.port}}}"
  name: "{{{cluster.name}}}"
  id: "{{{cluster.id}}}"
app:
  name: "{{{app.name}}}"
  domain: "{{{app.domain}}}"
huxley:
  url: "{{{huxley.url}}}"
  token: "{{{huxley.token}}}"
